fastapi==0.74.*
requests==2.27.*
uvicorn[standard]==0.17.*
torch==1.11.*
transformers==4.34.0
accelerate==0.23.0
einops==0.7.0
langchain==0.0.311
xformers==0.0.22
bitsandbytes==0.41.1
faiss-gpu==1.7.2 
sentence_transformers==2.2.2
pypdf==3.16.3
